@page "/"

<PageTitle>Index</PageTitle>


<h1>Project Overview</h1>
This project is a real-time sensor monitoring dashboard built with Blazor Server, consuming data pushed via SignalR. It displays live sensor readings and highlights anomalies, ensuring fast updates and visibility for IoT or telemetry data streams.
<br /><br />
<div>
<h5>What’s Working</h5>
<li>Live sensor data updates via SignalR</li>

<li>Blazor UI showing sensor readings</li>

<li>Anomaly detection highlighting</li>

<li>Clean modular structure with shared model classes</li>
</div>
<br />
<div>
<h5>Go to the /Dashboard page to see the sensor data working</h5>
</div>